

body {
    width: 100%;
    margin: 0 auto;
    background-image: url("foe_back.jpg");
    
}

:root {
    --golrahmen:#e2a124;

  }

#header {
    margin-top: -17px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom,#000000,  #6b1f08); 

}

.eingabefeld {
    background-color: rgb(250, 239, 209);
}



.h1 {
    padding-top: 14px;
    font-family: Helvetica;
    font-size: 22px;
    color:rgb(231, 164, 64);

}



#anzeigetafel { /* Anzeigebox*/
    height: 450px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    margin-top: 8%;
    background-color: #372415;
    border-style: groove;
    border-color: #936538;
    border-width: 7px;
    border-radius: 10px;     
}

#top1 { /*Titelbalken*/
    height: 38px;  

    background-color: #6b1f08;
    font-family: Helvetica;
    padding-top: 8px;
    color: #fdd0b3;
}

#top_titel {
    float: left;

    text-align: left;
    margin-left: 30px;
    margin-top: 2px;

}

#info_button {
    float: right;
    margin-right: 7px;
    margin-top: -2px;
}

#top2 { /*Titelbalken*/
    height: 25px;
    margin-top: -10px;
    background-color: #2f1a0c;
    font-family: Helvetica;
    font-size: 12px;

    color: #f3e6c1;
    text-align: center;
    padding-top: 2px;
}

#table1 { /* Eingabetabelle*/
    width: 98%;
    margin-top: 10px;
    margin-left: 2%;
    border-spacing: 0; 
}
    
#z1 { /* Eingabe erste Zeile */      
    height: 32px;
    background-color: #936538;  
    font-size: 14px;
}

#z2 {
    background-color: none;   
}

#min_ernte_fp {
    font-size: 10.5px;
    font-family: Helvetica;
    color: #e9be51;
    text-align: right;
    margin-right: 3%;
}    

.fp {
    border-color: var(--golrahmen);
    border: 1px solid;
    border-left: none;

    color: #e9be51;
    font-family: Helvetica;
    font-size: 13px;
}





#text1{
    border-color: var(--golrahmen);
    border: 1px solid;
    
    padding-left: 3px;
    color: #e9be51;
    font-family: Helvetica;
    font-size: 12px;
}

#rahmen_eingabe {
    border: 1px solid;
    border-color: var(--golrahmen);
    border-right: none;
    border-left: none;
}

#text2{
    color: #f7f5ec;
    font-family: Helvetica;
}

#text3{
    color: #31270d;
    font-family: Helvetica;
}

#berechnen_button {
    margin-top: 20px;
    height: 25px;
    border-radius: 2px;
    background: linear-gradient(to bottom,#ecc92c,   #6b4008, #6b1f08, #f19f24); 
    color: floralwhite;
    font-size: 15px;
    font-weight: bolder;  
}

#bild_arche {
    border: 1px solid;
    border-color: var(--golrahmen);
    border-right: none;
    background-image: url(arche1.png);
    background-size: 33px;
    background-repeat: no-repeat;
    background-position: center; 
}

#bild_roi {
    border: 1px solid;
    border-color: var(--golrahmen);
    border-right: none;
    background-image: url(truhe_f1.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;  
}

#bild_erntefp {
    border: 1px solid;
    border-color: var(--golrahmen);
    border-right: none;
    background-image: url(fp_f2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;  
}

/*........................................... Ausgabebereich...................................................*/

#display { 
    height: 140px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f1d481;
    border-style: groove;
    border-color: #3c373b;
    border-width: 3px;
    border-radius: 3px;
}

#anzeige1 { /* Startanzeige */
    height: 100px;
    width: 100px;
    transform: rotate(-70deg);
    margin-top: 5px;
    margin-left: 60%;
    background-image: url('pfeil1.png');
    background-size: contain;
    background-repeat: no-repeat;   
}

#anzeige2 { /* Anzeige positiv */
    height: 70px;
    width: 70px;
    background-image: url('schild_gruen.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4px;
    float: left;
    margin-left: 9px;
}

#anzeige3 { 
    height: 70px;
    width: 70px;
    margin-top: 4px;
    background-image: url('schild_rot.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-left: 9px;
}

#table2 {
    margin-top: 4%;
    float: left;
    border-spacing: 0px;
    margin-left: 5%;
    width: 60%;
}

#zeile1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #936538; 
    font-size: 15px;
    font-style: normal; font-weight: 600;
    background-color: snow;
    padding-left: 10px;
    border: 1px solid #e9be51
}

#table2_leerzeile {
    height: 5px;
    background-color: none;  
}

#warnung_inventar_on {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: snow; 
    font-size: 11px;
    padding-left: 9px;
    background-color: red;
}
  
#kissenbild_on {
    height: 35px;
    width: 35px;
    background-color: snow;
    background-image: url(kissen_f1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    border: 1px solid #e9be51;
    border-right: none;
}

#zeile2 {
    width: 42%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 5px;
    color: #936538; 
    font-size: 22px;
    font-style: normal; font-weight: 600;
    border: 1px solid #e9be51;
    border-left: none;
    border-right: none;
}

#txt_fp {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 5px;
    color: #936538; 
    font-size: 16px;
    font-style: normal; font-weight: 550;
    border: 1px solid #e9be51;
    border-left: none;
}

#fp_uebrig {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 5px;
    color: #936538; 
    font-size: 10px;
    font-style: normal; font-weight: 550;
    border: 1px solid #e9be51;
    border-left: none;
}

#fp_uebrig_bild {
    background-color: rgb(255, 255, 255);
    border: 1px solid #e9be51;
    border-right: none;
    background-image: url(fp_fav1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




#neu_button {    
    width: 50%;
    height: 22px;
    margin: 7% 25%;
    background-color: darkorange;
    color: floralwhite; 
}

/*........................................... Hilfebox .................................*/

#hilfebox { 
    height: 480px;
    width: 90%;
    margin: 0 auto;
    padding-top: 0px;
    background-color: #372415;
    border-style: groove;
    border-color: #936538;
    border-width: 7px;
    border-radius: 10px;
}

#info_button {
    background: none;
    border-color: whitesmoke;
    border-radius: 5px;
    height: 25px;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 50px;
}

#schliessen_button {
    width: 200px;
    margin-left: 40px;
    margin-top: 5px;

  



    
   

 
    
}

.beschreibung {
    font-size: 10px;
    font-weight: lighter;
    color: whitesmoke;
    margin-top: 5px;
    text-align: center;

}

.infotitel {
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: darkorange;
    text-align: center;

    
}


#platzkosten_bild {
    width: 200px;
    height: 90px;
    margin-top: 10px;
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    background-image: url(platzkosten.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#maezen_bild {
    width: 200px;
    height: 90px;
    margin-top: 10px;
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    background-image: url(maezen.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#ernte_bild {
    width: 200px;
    height: 90px;
    margin-top: 10px;
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    background-image: url(ernte.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}



@media screen and (min-width:900px) {
    #anzeigetafel{
        width: 25%;
    }

    #anzeige1 {
        width: 120px;
        margin-top: -50px;
        height: 250px;
        margin-left: 340px;

    }

    #hilfebox { 
        height: 480px;
        max-width: 25%;

    }


     
 }