body {
    background-image: url("foe_back.jpg");
}

#h1 {
    font-family: Helvetica;
    font-size: 30px;
    color:rgb(241, 159, 36)
}

#anzeigetafel { /* Anzeigebox*/
    height: 420px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    background-color: #372415;
    border-style: groove;
    border-color: #936538;
    border-width: 7px;
    border-radius: 10px;     
}

#top1 { /*Titelbalken*/
    height: 25px;   
    background-color: #6b1f08;
    font-family: Helvetica;
    padding-top: 10px;
    color: #fdd0b3;
    text-align: center;
}

#top2 { /*Titelbalken*/
    height: 18px;   
    background-color: #393d49;
    font-family: Helvetica;
    font-size: 11px;
    padding-top: 10px;
    color: #f3e6c1;
    text-align: center;
}


#table1 { /* Eingabetabelle*/
    width: 98%;
    margin: 0 auto;
    margin-left: 2%;
    padding-top: 5%;
    border-spacing: 0; 
}
    
#z1 { /* Eingabe erste Zeile */      
    height: 32px;
    background-color: #936538;  
    font-size: 14px;
}

#z2 {
    background-color: none;
    
}

#min_warnung_zeile {
    

}

#min_ernte_fp {
    font-size: 10px;
    font-family: Helvetica;
    color: #e9be51;
    text-align: right;
    margin-right: 3%;
    

}    


#text1{
    
    
    border: 1px solid;
    border-color: gold;
    padding-left: 7px;
    color: #e9be51;
    font-family: Helvetica;
    font-size: 13px;
}

#rahmen_eingabe {
    border: 1px solid;
    border-color: gold;
    border-left: none;

}

#text2{
    color: #f7f5ec;
    font-family: Helvetica;
}

#text3{
    color: #31270d;
    font-family: Helvetica;
}

#berechnen_button {
    margin-top: 10px;
    background-color: darkorange;
    color: floralwhite;
}

#bild_arche {
    border: 1px solid;
    border-color: gold;
    border-right: none;
    background-image: url(arche1.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    
}

#bild_roi {
    border: 1px solid;
    border-color: gold;
    border-right: none;
    background-image: url(truhe1.png);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
    
}

#bild_erntefp {
    border: 1px solid;
    border-color: gold;
    border-right: none;
    background-image: url(kissen3.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    
}

#berechnen_button {
    margin-top: 20px;
    background-color: darkorange;
    color: floralwhite;

}

/*........................................... Ausgabebereich...................................................*/

#display { 
    height: 140px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f1d481;
    border-style: groove;
    border-color: #3c373b;
    border-width: 3px;
    border-radius: 3px;
}

#anzeige1 { /* Startanzeige */
    height: 100px;
    width: 100px;
    transform: rotate(-70deg);
    margin-top: 5px;
    margin-left: 60%;
    background-image: url('pfeil1.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

#anzeige2 { /* Anzeige positiv */

    height: 80px;
    width: 80px;
    background-image: url('schild_gruen.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    float: left;
    margin-left: 13px;

}






#table2 {
    margin-top: 4%;
    float: left;
    border-spacing: 0px;
    margin-left: 13px;
    width: 55%;
}



#zeile1 {
    
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #936538; 
    font-size: 20px;
    font-style: normal; font-weight: 600;
    background-color: snow;
    padding-left: 10px;
    border: 1px solid #e9be51
  
}

#table2_leerzeile {

    height: 5px;
    background-color: none;
    
}

#warnung_inventar_on {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: snow; 
    font-size: 11px;
    padding-left: 9px;

    background-color: red;
}
  



#kissenbild_on {
   

    width: 35px;
    height: 35px;
    background-color: snow;
    background-image: url(kissen3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
    border: 1px solid #e9be51;
    border-right: none;
    
}

#zeile2 {
   
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #936538; 
    font-size: 20px;
    font-style: normal; font-weight: 600;
    border: 1px solid #e9be51;
    border-left: none;
  
}



#anzeige3 { 
    

    height: 80px;
    width: 80px;
    margin-top: 10px;
    background-image: url('schild_rot.png');

    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-left: 13px;

}


#neu_button {
    
    width: 50%;
    height: 22px;
    /*margin-top: 15px;*/
    margin: 7% 25%;
    
  

    
    
    background-color: darkorange;
    color: floralwhite;
    
}













@media screen and (min-width:900px) {
    #anzeigetafel{
        width: 30%;
    }

    #anzeige1 {
        width: 120px;
        margin-top: -50px;
        height: 250px;
        margin-left: 340px;

    }




     
 }